﻿
@using CMEN.sr_centralizador;
@{

    if (Session["IdUsuario"] == null)
    {
        Response.Redirect("~/Account/Login");
    }
}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>C-MEN - @ViewBag.Title</title>

    <!-- Custom fonts for this template-->
    @RenderSection("beforeStyles", required: false)

    <link href="~/Content/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link href="~/Content/vendor/jquery-toastr/jquery.toast.min.css" rel="stylesheet" />

    <link href="~/Content/css/sb-admin-2.min.css" rel="stylesheet" />

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="Inicio">
                <div class="sidebar-brand-icon">
                    <img src="~/icono.png" width="45" />
                </div>
                <div class="sidebar-brand-text mx-3">C-MEN</div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                Menú
            </div>


            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseMantenimiento" aria-expanded="true" aria-controls="collapseMantenimiento">
                    <i class="fa fa-wrench"></i>
                    <span>Mantenimiento</span>
                </a>
                <div id="collapseMantenimiento" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <a class="collapse-item" href="Linea">Linea</a>
                        <a class="collapse-item" href="Categoria">Categoria</a>
                        <a class="collapse-item" href="UnidadMedida">Unidad Medida</a>
                        <a class="collapse-item" href="Productos">Productos</a>
                    </div>
                </div>
            </li>

            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages" aria-expanded="true" aria-controls="collapsePages">
                    <i class="fa fa-eye"></i>
                    <span>Consultas</span>
                </a>
                <div id="collapsePages" class="collapse" aria-labelledby="headingMantenimiento" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <a class="collapse-item" href="CierreCaja">Cierres de Caja</a>
                    </div>
                </div>
            </li>


            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>

        </ul>
        <!-- End of Sidebar -->
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>

                    <!-- Topbar Search -->
                    <form class="d-none d-sm-inline-block form-inline mr-sm-3 mr-2 ml-md-3 my-2 my-md-0 mw-100">
                        <div class="row">
                            <div class="input-group">
                                <a href="Inicio" class="btn btn-primary btn-icon-split">
                                    <span class="icon text-white-50">
                                        <i class="fas fa-fw fa-tachometer-alt"></i>
                                    </span>
                                    <span class="text">Dashboard</span>
                                </a>
                            </div>
                        </div>
                    </form>
                    <form class="d-sm-inline-block form-inline mt-3 mt-sm-0 mt-md-0 ml-0 ml-sm-3 ml-md-3 mr-3">
                        <div class="row">
                            <div class="input-group ml-2">
                                <div class="form-group">
                                    @if (((List<Local>)Session["ComboLocal"]).Count >= 1)
                                    {
                                        <select class="form-control select" id="cboLocal">
                                            <option value="0">Local</option>
                                            @if (Session["ComboLocal"] != null)
                                            {
                                                foreach (var item in (List<Local>)Session["ComboLocal"])
                                                {
                                                    <option value="@item.Idlocal">@item.NombreLocal</option>
                                                }
                                            }
                                            else
                                            {
                                                <option value="0">SIN LOCALES</option>
                                            }

                                        </select>
                                    }
                                </div>
                            </div>
                        </div>
                    </form>

                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">

                        <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                        <li class="nav-item dropdown no-arrow d-sm-none">
                            <a class="nav-link dropdown-toggle" href="Inicio" role="button" aria-expanded="false">
                                <i class="fas fa-fw fa-tachometer-alt"></i>
                            </a>
                        </li>
                        @*<li class="nav-item dropdown no-arrow d-sm-none">
                                <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fas fa-search fa-fw"></i>
                                </a>

                                <div class="dropdown-menu dropdown-menu-right p-2 shadow animated--grow-in" id="dropLocal">
                                    <form class="form-inline w-100">
                                        <div class="input-group">
                                            <div class="form-group w-100 pt-3">
                                                @if (((List<Local>)Session["ComboLocal"]).Count >= 1)
                                                {
                                                    <select class="form-control select" id="cboLocalXS">
                                                        <option value="0">Seleccione local</option>
                                                        @if (Session["ComboLocal"] != null)
                                                        {
                                                            foreach (var item in (List<Local>)Session["ComboLocal"])
                                                            {
                                                                <option value="@item.Idlocal">@item.NombreLocal</option>
                                                            }
                                                        }
                                                        else
                                                        {
                                                            <option value="0">SIN LOCALES</option>
                                                        }

                                                    </select>
                                                }

                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </li>*@

                        <!-- Nav Item - Alerts -->
                        @*<li class="nav-item dropdown no-arrow mx-1">
                                <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fas fa-bell fa-fw"></i>
                                    <!-- Counter - Alerts -->
                                    <span class="badge badge-danger badge-counter">3+</span>
                                </a>
                                <!-- Dropdown - Alerts -->
                                <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="alertsDropdown">
                                    <h6 class="dropdown-header">
                                        Alerts Center
                                    </h6>
                                    <a class="dropdown-item d-flex align-items-center" href="#">
                                        <div class="mr-3">
                                            <div class="icon-circle bg-primary">
                                                <i class="fas fa-file-alt text-white"></i>
                                            </div>
                                        </div>
                                        <div>
                                            <div class="small text-gray-500">December 12, 2019</div>
                                            <span class="font-weight-bold">A new monthly report is ready to download!</span>
                                        </div>
                                    </a>
                                    <a class="dropdown-item d-flex align-items-center" href="#">
                                        <div class="mr-3">
                                            <div class="icon-circle bg-success">
                                                <i class="fas fa-donate text-white"></i>
                                            </div>
                                        </div>
                                        <div>
                                            <div class="small text-gray-500">December 7, 2019</div>
                                            $290.29 has been deposited into your account!
                                        </div>
                                    </a>
                                    <a class="dropdown-item d-flex align-items-center" href="#">
                                        <div class="mr-3">
                                            <div class="icon-circle bg-warning">
                                                <i class="fas fa-exclamation-triangle text-white"></i>
                                            </div>
                                        </div>
                                        <div>
                                            <div class="small text-gray-500">December 2, 2019</div>
                                            Spending Alert: We've noticed unusually high spending for your account.
                                        </div>
                                    </a>
                                    <a class="dropdown-item text-center small text-gray-500" href="#">Show All Alerts</a>
                                </div>
                            </li>*@


                        <div class="topbar-divider d-none d-sm-block"></div>

                        <li class="nav-item dropdown no-arrow mx-1 mt-4">
                            <div class="label-User hidden-xs">
                                <label style="color:#337ab7" class="d-none d-lg-inline"><i class="fa fa-user"></i> Usuario: </label>
                                @if (@Session["NombreUsuario"].ToString() != null)
                                {
                                    var User = @Session["NombreUsuario"].ToString();
                                    <span class="mr-2 d-none d-lg-inline text-gray-600 small">@User</span>
                                }
                            </div>
                        </li>
                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">

                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <div>
                                    <i class="fa fa-angle-down fa-2x"></i>
                                </div>

                            </a>
                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Profile
                                </a>
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Settings
                                </a>
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Activity Log
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Logout
                                </a>
                            </div>
                        </li>

                    </ul>

                </nav>
                <!-- End of Topbar -->
                <!-- Begin Page Content -->
                <div class="container-fluid">


                    @RenderBody()


                    <!-- Page Heading -->

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->
            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Your Website 2019</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Cerrar Sesión</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Esta a punto de cerrar la sesión actual. ¿Desea continuar?</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="@Url.Action("LogOut","Account")">Salir</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="~/Content/vendor/jquery/jquery.min.js"></script>
    <script src="~/Content/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Toast-->
    <script src="~/Content/vendor/jquery-toastr/jquery.toast.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="~/Content/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="~/Content/js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="~/Content/vendor/chart.js/Chart.min.js"></script>

    <!-- Util -->
    <script src="~/js/util/CMEN.js"></script>
    <script src="~/js/util/Message.min.js"></script>

    <!--Numeric-->
    <script src="~/Content/vendor/Numeric/js/query.numeric.js"></script>

    <script>

        var urlListLocales = '@Url.Action("ListLocales", "Menu")';
        var urlCambiarLocal = '@Url.Action("CambiarLocal", "Menu")';


        var EventoGeneral = {

            CambiarLocal: function () {
                var IdLocal = $("#cboLocal").val();
                $.ajax({
                    url: urlCambiarLocal,
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    data: JSON.stringify({ 'IdLocal': IdLocal }),
                    success: function (response) {
                        Funciones.RecargarDatosPorCambioEmpresa();
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        console.log(textStatus);
                    }
                });
            },

        };

        $(document).ready(function () {

            $("#cboLocal").val("@Session["IdLocal"].ToString()");
            $("#cboLocal").on("change", function () {
                  EventoGeneral.CambiarLocal();
            });
        });

    </script>


    @RenderSection("scripts", required: false)
</body>

</html>
