﻿@{
    ViewBag.Title = "Categoria";
    if (Session["IdUsuario"] == null)
    {
        Response.Redirect("~/Account/Login");
    }
}

@section beforeStyles
{
    <link href="~/Content/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet" />

}

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Categoría</h6>
    </div>
    <div class="card-body">
        <div class="row mb-1 hide" id="botones">
            <div class="col-md-3">
                <div class="form-group">
                    <label for="cboLinea">Linea</label>
                    <select class="form-control select" id="cboLinea"></select>
                </div>
            </div>
            <div class="col-md-9 text-right">
                <div class="form-group mb-2 hidden-xs">
                    <label></label>
                </div>
                <div class="form-group">
                    <button type="button" id="btnRecargarCategoria" class="btn btn-md btn-primary shadow-sm mb-1 mb-sm-0 mb-md-0"><i class="fa fa-sync-alt"></i> Recargar</button>
                    <button type="button" id="btnAgregarCategoria" class="btn btn-md btn-primary shadow-sm mb-1 mb-sm-0 mb-md-0"><i class="fa fa-plus-circle"></i> Agregar</button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table table-bordered display nowrap" id="grillaCategoria" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th class="text-center">Nombre</th>
                                <th>Estado</th>
                                <th>Atualización</th>
                                <th>Opciones</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" tabindex="-1" data-backdrop="static" data-keyboard="false" role="dialog" id="ModalAgregarCategoria">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title text-primary" id="titleCategoria"></h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <input type="hidden" id="txtIdCategoria" value="0" />
                <input type="hidden" id="txtIdCategoriaRef" value="" />
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="txtCategoria">Nombre</label>
                            <input type="text" class="form-control text-uppercase" id="txtCategoria" value="" maxlength="50" />
                            <span class="text-error hide">Este campo es obligarorio</span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="cboLineaAgregar">Linea</label>
                            <select class="form-control select" id="cboLineaAgregar"></select>
                            <span class="text-error hide">Este campo es obligarorio</span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="cboEstado">Estado</label>
                            <select class="form-control select" id="cboEstado">
                                <option value="0">Seleccione estado</option>
                                <option value="1">ACTIVO</option>
                                <option value="2">BAJA</option>
                            </select>
                            <span class="text-error hide">Este campo es obligarorio</span>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fa fa-times"></i> Cancelar</button>
                    <button type="button" id="btnGuardarCategoria" class="btn btn-primary"><i class="fa fa-save"></i> Guardar</button>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/Content/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="~/Content/vendor/datatables/dataTables.bootstrap4.min.js"></script>
    <script>

        var urlListLinea = '@Url.Action("ListComboLinea", "Menu")';
        var urlListCategoriaPaginado = '@Url.Action("ListCategoria", "Menu")';
        var urlSaveCategoria = '@Url.Action("SaveCategoria", "Menu")';

    </script>
    <script src="~/js/pages/Categoria.js"></script>

}