﻿@{
    ViewBag.Title = "Linea";
    if (Session["IdUsuario"] == null)
    {
        Response.Redirect("~/Account/Login");
    }
}

@section beforeStyles
{
    <link href="~/Content/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet" />

}

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Linea</h6>
    </div>
    <div class="card-body">
        <div class="row mb-3 hide" id="botones">
            <div class="col-md-12 text-right">
                <button type="button" id="btnRecargarLinea" class="btn btn-md btn-primary shadow-sm mb-1 mb-sm-0 mb-md-0"><i class="fa fa-sync-alt"></i> Recargar</button>
                <button type="button" id="btnAgregarLinea" class="btn btn-md btn-primary shadow-sm mb-1 mb-sm-0 mb-md-0"><i class="fa fa-plus-circle"></i> Agregar</button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table table-bordered display nowrap" id="grillaLinea" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th class="text-center">Nombre</th>
                                <th>Estado</th>
                                <th>Actualización</th>
                                <th>Opciones</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" tabindex="-1" data-backdrop="static" data-keyboard="false" role="dialog" id="ModalAgregarLinea">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title text-primary" id="titleLinea"></h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <input type="hidden" id="txtIdLinea" value="0" />
                <input type="hidden" id="txtIdLineaRef" value="" />
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="txtLinea">Nombre</label>
                            <input type="text" class="form-control text-uppercase" id="txtLinea" value="" maxlength="50" />
                            <span class="text-error hide">Este campo es obligarorio</span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="cboEstado">Estado</label>
                            <select class="form-control select" id="cboEstado">
                                <option value="0">Seleccione estado</option>
                                <option value="1">ACTIVO</option>
                                <option value="2">BAJA</option>
                            </select>
                            <span class="text-error hide">Este campo es obligarorio</span>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fa fa-times"></i> Cancelar</button>
                    <button type="button" id="btnGuardarLinea" class="btn btn-primary"><i class="fa fa-save"></i> Guardar</button>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/Content/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="~/Content/vendor/datatables/dataTables.bootstrap4.min.js"></script>
    <script>

        var urlListLineaPaginado = '@Url.Action("ListLinea", "Menu")';
        var urlSaveLinea = '@Url.Action("SaveLinea", "Menu")';

    </script>
    <script src="~/js/pages/Linea.js"></script>

}