﻿@{
    ViewBag.Title = "Productos";
    if (Session["IdUsuario"] == null)
    {
        Response.Redirect("~/Account/Login");
    }
}

@section beforeStyles
{
    <link href="~/Content/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet" />
}


<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Productos</h6>
    </div>
    <div class="card-body">
        <div class="row mb-3 hide" id="botones">
            <div class="col-md-12 text-right">
                <button type="button" id="btnRecargarProducto" class="btn btn-md btn-primary shadow-sm mb-1 mb-sm-0 mb-md-0"><i class="fa fa-sync-alt"></i> Recargar</button>
                <button type="button" id="btnAgregarProducto" class="btn btn-md btn-primary shadow-sm mb-1 mb-sm-0 mb-md-0"><i class="fa fa-plus-circle"></i> Agregar</button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table table-bordered display nowrap" id="grillaProductos" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Producto</th>
                                <th>Categoria</th>
                                <th>Stock</th>
                                <th>Unidad Medida</th>
                                <th>Precio Costo</th>
                                <th>Precio Venta</th>
                                <th>Actualización</th>
                                <th>Opciones</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" tabindex="-1" data-backdrop="static" data-keyboard="false" role="dialog" id="ModalAgregarProducto">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title text-primary" id="titleProducto"></h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <input type="hidden" id="txtIdProducto" value="0" />
                <input type="hidden" id="txtIdProductoIdRef" value="0" />
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="txtProducto">Nombre</label>
                            <input type="text" class="form-control text-uppercase" id="txtProducto" value="" maxlength="50" />
                            <span class="text-error hide">Este campo es obligarorio</span>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="cboEstado">Estado</label>
                            <select class="form-control select" id="cboEstado">
                                <option value="0">Estado</option>
                                <option value="1">ACTIVO</option>
                                <option value="2">BAJA</option>
                            </select>
                            <span class="text-error hide">Este campo es obligarorio</span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="cboDespacho">Despacho</label>
                            <select class="form-control select" id="cboDespacho"></select>
                            <span class="text-error hide">Este campo es obligarorio</span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="txtDescripcion">Descripción</label>
                            <input type="text" class="form-control text-uppercase" id="txtDescripcion" value="" maxlength="50" />
                            <span class="text-error hide">Este campo es obligarorio</span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="cboLinea">Linea Producto</label>
                            <select class="form-control select" id="cboLinea"></select>
                            <span class="text-error hide">Este campo es obligarorio</span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="cboCategoria">Categoria</label>
                            <select class="form-control select" id="cboCategoria"></select>
                            <span class="text-error hide">Este campo es obligarorio</span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="cboUnidadMedida">Unidad</label>
                            <select class="form-control select" id="cboUnidadMedida"></select>
                            <span class="text-error hide">Este campo es obligarorio</span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Fecha ingreso:</label>
                            <div class="input-group date">
                                <input type="date" id="txtFechaIngreso" class="form-control">
                                <div class="input-group-append pt-1">
                                    <i class="fa fa-calendar-alt"></i>
                                </div>
                            </div>
                            <span class="text-error hide">Este campo es obligarorio</span>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label>Stock:</label>
                            <input type="number" min="0" class="form-control uppercase" id="txtStock" />
                            <span class="text-error hide">Este campo es obligarorio</span>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Precio costo:</label>
                            <div class="input-group">
                                <div class="input-group-prepend dateIcon">
                                    S/.
                                </div>
                                <input type="text" id="txtPrecioCosto" class="form-control" maxlength="10">
                            </div>
                            <span class="text-error hide">Este campo es obligarorio</span>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Precio venta:</label>
                            <div class="input-group">
                                <div class="input-group-prepend dateIcon">
                                    S/.
                                </div>
                                <input type="text" id="txtPrecioVenta" class="form-control" maxlength="10">
                            </div>
                            <span class="text-error hide">Este campo es obligarorio</span>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fa fa-times"></i> Cancelar</button>
                    <button type="button" id="btnGuardarProducto" class="btn btn-primary"><i class="fa fa-save"></i> Guardar</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modalAgregarInsumos" tabindex="-1" data-backdrop="static" data-keyboard="false" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title text-primary" id="titleDetalleInsumo"></h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body" style="min-height:130px; padding-bottom:0px;">
                <input type="hidden" id="txtIdProducto" value="0" />
                <div class="row mb-1">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="cboInsumo">Insumos</label>
                            <select class="form-control select" id="cboInsumo"></select>
                            <span class="text-error hide">Este campo es obligarorio</span>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label>Unid. Medida:</label>
                            <div class="input-group">
                                <input type="text" id="txtUnidadMedida" class="form-control" maxlength="10" disabled>
                            </div>
                            <span class="text-error hide">Este campo es obligarorio</span>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label>Cantidad:</label>
                            <input type="text" id="txtCantidad" class="form-control" maxlength="5">
                            <span class="text-error hide">Este campo es obligarorio</span>
                        </div>
                    </div>
                    <div class="col-md-4 text-right">
                        <div class="form-group mb-2 hidden-xs">
                            <label></label>
                        </div>
                        <div class="form-group">
                            <button type="button" id="btnAgregarInsumos" class="btn btn-md btn-primary shadow-sm"><i class="fa fa-plus-circle"></i> Agregar</button>
                            <button type="button" id="btnGuardarListaInsumos" class="btn btn-md btn-primary shadow-sm"><i class="fa fa-save"></i> Guardar</button>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="table-responsive">
                            <table id="grillaInsumos" class="table table-bordered" style="width:100%;margin-bottom:0;">
                                <thead>
                                    <tr>
                                        <th>Nombre</th>
                                        <th>Unidad Medida</th>
                                        <th>Opciones</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Salir</button>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/Content/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="~/Content/vendor/datatables/dataTables.bootstrap4.min.js"></script>
    <script>

        var urlListProductoPaginado = '@Url.Action("ListProductoPaginado", "Menu")';
        var urlListLinea = '@Url.Action("ListComboLinea", "Menu")';
        var urlListCategoria = '@Url.Action("ListComboCategoria", "Menu")';
        var urlListUnidadMedida = '@Url.Action("ListComboUnidadMedida", "Menu")';
        var urlListDespacho = '@Url.Action("ListComboDespacho", "Menu")';
        var urlSaveProducto = '@Url.Action("SaveProducto", "Menu")';
         var urlListInsumo = '@Url.Action("ListComboInsumo", "Menu")';

    </script>
    <script src="~/js/pages/Producto.js"></script>

}