﻿@{
    ViewBag.Title = "Login";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>C-MEN - Login</title>

    <!-- Custom fonts for this template-->
    <link href="~/Content/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="~/Content/css/sb-admin-2.min.css" rel="stylesheet" />
    <style>
         *,
          *::before,
          *::after {
                margin: 0px; 
                padding: 0px; 
                box-sizing: border-box;
         }

          body, html {
	            height: 100%;
          }
    </style>

</head>

<body class="bg-gradient-primary">

    <div class="container  h-100">

        <!-- Outer Row -->
        <div class="row justify-content-center h-100 align-items-center">

            <div class="col-xl-10 col-lg-12 col-md-9">

                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <!-- Nested Row within Card Body -->
                        <div class="row">
                            <div class="col-lg-6 d-none d-lg-block bg-login-image">
                                <img id="imgLogoNegocio" src="" alt="Alternate Text" width="441" height="431" />
                            </div>
                            <div class="col-lg-6">
                                <div class="p-5">
                                    <div class="d-flex align-items-center justify-content-center mb-4">
                                        <div class="mr-3">
                                            <img src="~/icono.png" />
                                        </div>
                                        <div>
                                            <h1 class="h4 text-gray-900 mb-0">C-MEN</h1>
                                        </div>
                                    </div>

                                    <form class="user">
                                        <div class="form-group">
                                            <select class="form-control select" id="cboEmpresa">
                                                <option value="0">Seleccione empresa</option>
                                            </select>
                                            <span class="text-error hide">Este campo es obligarorio</span>
                                        </div>
                                        <div class="form-group">
                                            <input type="text" class="form-control" id="txtUsuario" placeholder="Ingrese usuario">
                                            <span class="text-error hide">Este campo es obligarorio</span>
                                        </div>
                                        <div class="form-group">
                                            <input type="password" class="form-control" id="txtContraseña" placeholder="Contraseña">
                                            <span class="text-error hide">Este campo es obligarorio</span>
                                        </div>
                                        @*<div class="form-group">
                                                <div class="custom-control custom-checkbox small">
                                                    <input type="checkbox" class="custom-control-input" id="customCheck">
                                                    <label class="custom-control-label" for="customCheck">Recordar cuenta</label>
                                                </div>
                                            </div>*@
                                        <a class="btn btn-primary btn-user btn-block text-white" id="btnIngresar">
                                            INGRESAR
                                        </a>
                                    </form>
                                    @*<div class="text-center hide" id="datosIncorrectos">
                                        <span class="text-error">Usuario o Contraseña Incorrectos</span>
                                     </div>*@
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="~/Content/vendor/jquery/jquery.min.js"></script>
    <script src="~/Content/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="~/Content/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="~/Content/js/sb-admin-2.min.js"></script>

    <script src="~/js/util/CMEN.js"></script>

    <script>
        var rutaImagenEmpresa = @(Html.Raw(Json.Encode("/NegocioNeutral.jpg")));
        var urlListNegocio = '@Url.Action("ListNegocio", "Account")';
        var urlIngresarMenu = '@Url.Action("IngresarMenu", "Account")';
        var urlHomeSistema = '@Url.Action("Inicio", "Menu")';
        var urlLogin = '@Url.Action("Login", "Account")';

    </script>
    <script src="~/js/pages/Login.min.js"></script>
</body>

</html>
